
@{
    ViewData["Title"] = "About";
}

<h2>About Us</h2>
<br />
<br />
<div class="row">
  <div class="column">
      <h4>About me</h4>
      <br />
      <p>I am senior student at American University in Bulgaria</p>
      <p>I am majoring in Computer Science and Information System</p>
      <br />
      <br />
  </div>
  <div class="column">
      <h4>About website</h4>
      <br />
      <p>The goal of this application is to provide a user friendly online store service 
          for different computer parts and customized built personal computers. It is developed 
          using ASP.NET and Visual Studio. The architecture used is MVC composed of model, views,
          and controller components, which support the separation of concerns principles. </p>
  </div>
</div>

