
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<br />
<div class="row">
  <div class="column">
      <h4>Pesonal Contacts</h4>
      <br />
      <p>Phone Number: +976 88380168</p>
      <p>Email: gna180@aubg.edu</p>
      <p>Address: Skaptopara 2</p>
      <br />
      <br />
  </div>
  <div class="column">
      <h4>AUBG Contact</h4>
      <br />
      <p>Phone: 073 888 111</p>
      <p>Address: ul. "Svoboda Bachvarova" 12, 2700 Southern Industrial Zone, Blagoevgrad</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1gpVtSOpmiOCN2g44FNoxQ0ia798&ehbc=2E312F" width="640" height="480"></iframe>
  </div>
</div>

